node_modules/
dist/
build/
*.log
.env
config.yml
yumeri.json
.DS_Store
.idea/
.vscode/
*.suo
*.userprefs
tmp/
temp/
.yarn/
*.tar.gz
.VSCodeCounter/
data/database.db
*.tsbuildinfo
yarn.lock
yumeri-plugin-test/